third_party/flatbuffers/LICENSE text eol=lf
third_party/loguru/LICENSE text eol=lf
third_party/pyobjc/LICENSE.txt text eol=lf
third_party/rapidocr/LICENSE text eol=lf
third_party/rapidocr/NOTICE text eol=lf
